<div>
    <h1>Enviar String</h1>
</div>
<style>
  .oculto {
    visibility: hidden;
  }
</style>
<div>
<input  class="oculto" id='tex' >
</div>
<input type="text" placeholder="string" name='input' id="input"> 
<button id="enviar">Enviar</button>
<br>
<br>
<textarea id='texto' cols="100" rows="15" style="resize: both;" ></textarea>
<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>