
h1 {
    color:rgb(255, 255, 255);
    text-decoration:underline;
    text-align: center;
}

:root {
  background-color: #1a1a1a; /* Color de fondo oscuro */
  --text-color: #ffffff; /* Color del texto en el tema oscuro */
}

.oculto{
  display: none; /* Oculta el botón */
}

/* Estilos generales */
.chat-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}


/* Estilos del área de entrada de texto */
.chat-input {
    display: flex;
    margin-top: 10px;
}

.chat-input textarea {
    flex: 1; /* Para que ocupe todo el espacio disponible */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Evita que el usuario pueda redimensionar el textarea */
    width: 100%; /* Ancho completo dentro del contenedor */
    height: 500px; /* Altura del textarea según tus necesidades */
}

.chat-input button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.chat-input button:focus {
    outline: none;
}


